.main-wrapper {
  display: flex;
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side {
  width: 50%;
  background-image: url(/side-image.png);
  background-size: cover;
  min-height: 1024px;
}

.wrapper {
  max-width: 406px;
  margin: auto 0;
}

.form-wrapper {
  margin-top: 6rem;
}

.form-label {
  font-size: 2rem;
  font-weight: 400;
}

.input {
  width: 100%;
  border: 2px solid var(--default-white);
  border-radius: 2.875rem;
  background: transparent;
  padding: 1.1875rem 1.5rem;
  margin-top: 2rem;
  color: var(--default-white);
}

.input::placeholder {
  color: var(--default-white);
}

.input + .input {
  margin-bottom: 2rem;
}

.user-field {
  background: url(../../assets/name-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.password-field {
  background: url(../../assets/lock-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.form-bottom {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.invalid-credentials {
  border-color: var(--default-yellow);
}

.invalid-credentials-warn {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--default-yellow);
}