.main-wrapper {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side {
  width: 50%;
  background-image: url(/side-image.png);
  background-size: cover;
  min-height: 1140px;
  height: auto;
}

.form-wrapper {
  margin-top: 6rem;
}

.wrapper {
  max-width: 25.375rem;
  margin: auto 0;
}

.form-label {
  font-size: 2rem;
  font-weight: 400;
}

.input {
  width: 100%;
  border: 2px solid var(--default-white);
  border-radius: 2.875rem;
  background: transparent;
  padding: 1.1875rem 1.5rem;
  margin-top: 2rem;
  color: var(--default-white);
}

/* Input fields icons */
.name-field {
  background: url(../../assets/name-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.user-field {
  background: url(../../assets/user-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.birth-field {
  background: url(../../assets/birth-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.email-field {
  background: url(../../assets/email-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.password-field {
  background: url(../../assets/lock-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.confirm-password-field {
  background: url(../../assets/shield-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.input::placeholder {
  color: var(--default-white);
}

.input + .input {
  margin-top: 2rem;
}

.input:last-of-type {
  margin-bottom: 2rem;
}

.form-bottom {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.invalid-input {
  border-color: var(--default-yellow);
}

.input-warn {
  text-align: center;
  color: var(--default-yellow);
}

.passwords-match-warn {
  text-align: center;
  color: var(--default-yellow);
  margin-bottom: 2rem;
}

@media (max-width: 760px) {
  .right-side {
    display: none;
  }

  .left-side {
    width: 100%;
    padding: 1rem;
  }

  .form-bottom {
    margin-bottom: 2rem;
  }
}
