.main-wrapper {
  display: flex;
}

.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side {
  width: 50%;
  background-image: url(/side-image.png);
  background-size: cover;
  min-height: 1024px;
}

.form-wrapper {
  margin-top: 6rem;
}

.wrapper {
  max-width: 406px;
  margin: auto 0;
}

.form-label {
  font-size: 2rem;
  font-weight: 400;
}

.input {
  width: 100%;
  border: 2px solid #f5f5f5;
  border-radius: 2.875rem;
  background: transparent;
  padding: 1.1875rem 1.5rem;
  margin-top: 2rem;
  color: #f5f5f5;
}

::-ms-reveal {
  filter: invert(100%);
}

/* Input fields icons */
.name-field {
  background: url(../../assets/name-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.user-field {
  background: url(../../assets/user-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.birth-field {
  background: url(../../assets/birth-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.email-field {
  background: url(../../assets/email-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.password-field {
  background: url(../../assets/lock-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.confirm-password-field {
  background: url(../../assets/shield-icon.svg) no-repeat;
  background-position: 95% 45%;
}

.input::placeholder {
  color: #f5f5f5;
}

.input + .input {
  margin-top: 2rem;
}

.input:nth-child(7) {
  margin-bottom: 2rem;
}

a {
  font-weight: 600;
}

.form-bottom {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.passwords-not-match {
  border-color: #E9B425;
}

.passwords-match-warn {
  text-align: center;
  color: #E9B425;
  margin-bottom: 2rem;
}