.wrapper {
  display: flex;
  width: 100%;
  background-color: #17181C;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header {
  height: 4.6rem;
  width: 100%;
  background-color: #1e1f23;
  border-width: 2px 2px 2px 0px;
  border-style: solid;
  border-color: #2e2f36;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 28px;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-item > *:first-child {
  margin-right: 1.25rem;
}

.header-item h2 {
  font-size: 1rem;
  font-weight: 500;
}

.header-item p {
  font-style: normal;
  font-weight: 400;
}

.profile-picture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.posts-trends-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.posts {
  margin: 0 auto;
}